<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      {{message}} {{myName}}
    </div>

    <div id="app2">
      <a v-bind:href="googleLink" target="_blank"> {{googleName}} </a>
    </div>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue!',
          myName: 'Thanakrit',
        },
      });

      new Vue({
        el: '#app2',
        data: {
          googleName: 'Google',
          googleLink: 'https://www.google.co.th/',
        },
      });
    </script>
  </body>
</html>
